**.DS_Store
/Experiments/data
*.pyc
Experiments/output.log
Experiments/results/**
Experiments/results/benchmark_mnist.pkl
.vscode/settings.json
/Experiments/wandb
/Experiments/mocks
/Experiments/docs
